.flexBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 50;
}

.logoBar {
  width: min(100%, 80rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.8rem;
  position: relative;
}

.logo {
  position: relative;
}

.logoName {
  color: rgb(90, 90, 90);
  font-size: 1.2rem;
}

.logoIcon {
  /* height: 100%; */
  position: absolute;
  width: 32%;
  top: 0.2rem;
  left: 2.9rem;
  fill: rgb(251, 255, 0);
  stroke: rgb(90, 90, 90);
}

.subMenu {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(90, 90, 90);
  font-size: 0.8rem;
}

.login:hover,
.login:active,
.login.active {
  color: rgb(168, 168, 168);
}

select,
option {
  border: rgb(90, 90, 90) 0.7px inset;
}

.menu {
  background-color: white;
  border: none;
  color: rgb(90, 90, 90);
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: white;
}
