.auth {
  margin: 3rem auto 0 auto;

  display: flex;
  flex-direction: column;
  width: min(50%, 20rem);
  color: rgb(90, 90, 90);
  font-size: 1.2rem;
}

.control {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  position: relative;
}

.label {
  position: absolute;
  top: 0.3rem;
  left: 0.6rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.control > * {
  margin-top: 0.5rem;
}

.control input {
  height: 58px;
  border: 1px solid rgb(90, 90, 90);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 30.5px 14px 11.5px;
  font-size: 1rem;
}

.eyeIcon {
  position: absolute;
  z-index: 10;
  top: 1.1rem;
  right: 0;
  width: 3.5rem;
  fill: rgb(90, 90, 90);
  cursor: pointer;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: rgb(90, 90, 90);
  background-color: #ccc;
  /* margin-top: 1.2rem; */
  border: none;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: rgba(87, 87, 87, 0.4);
  color: rgb(235, 235, 235);
}

.actions .toggle {
  margin-top: 0.5rem;
  background-color: transparent;
  font-size: 1rem;
  color: rgb(56, 56, 56);
}

.actions .toggle:hover {
  background-color: transparent;
  /* color: rgb(235, 235, 235); */
  color: rgb(150, 150, 150);
}
